*{
    vertical-align: middle;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;


}



*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}

#popup{
    background-color: #32b7c5bd;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin-top: 120px;
    display: none;
    cursor: pointer;
    
}

#cerrarPopup {
    text-align: right;
    padding-right: 18px;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

#contenidoPopup{
    text-align: center;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    font-weight: bolder;

}


p{
 font-size: 12px;
}

h2 {
    font-size: 14px;
}

h5{
    font-size: 18px;
    color: silver;
    margin-top: 5px;
}

.contenedor {
margin: 20px auto;
width: 300px;
   /* background-color: blueviolet;*/
    
    
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 10px;

}

.app-title {
text-align: center;
color: #777;
    font-size:25px;
    padding:20px;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input , select {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
margin: 12px 0 12px 0px;
    
}



#caja-mensaje {
     padding: 15px;
    display:flex;
    background-color: beige;
}
#mensaje {
    
    font-family:monospace;
}

#caja-info {
    padding: 15px;
    display : none;
    background-color: beige;
}

#contenedor-calculadora{
    /*background-color: blueviolet;*/
    margin-bottom: 10px;
    height: 100%;
    padding: 0;
    width: 100%;
    

}
#contenedor1{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
    /*background-color: khaki;*/
    margin-bottom: 10px;
}

#contenedor2{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
    /*background-color: lawngreen;*/
    margin-bottom: 10px;
}

#vosenvias, #vosrecibis {
    text-align: left;
    font-size: 13px;
    margin-left: 10px;

}



#moneda1-data {
    width: 70%;
    display: flex;
    height: 50px;
}



#monedasymbol1 {
    width: 25%;
    height: 50px;
    background-color: #3498db;
    vertical-align: middle;
    display:inline-flex;
    align-items: center;
    color: white;
    

}


#moneda2-data {
    width: 70%;
    display: flex;
    height: 50px;
}

#monedasymbol2 {
    width: 25%;
    height: 50px;
    background-color:#32b7c5;
    vertical-align: middle;
    display:inline-flex;
    align-items: center;
    color: white;
    

    
}

#cambiar-posicion {
    position: relative;
    padding: 0px 115px;
    
    

}
#icono-change {
    width:50px;
    height: auto;
}
#icono-change:active{
    transform: rotate(90deg);

}

/* Ocultando flechitas predeterminadas de caja numero */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}



optgroup {
    font-size: 12px;
    background-color: white;

}

#check-container {
    width: 100%;
    display: -webkit-box;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
    /*background-color: lawngreen;*/
    margin-bottom: 10px;
}
#cajitacheck{
display: flex;
width: 10%;


}


#contenedor-labels {
    margin: 10px 0 10px 0;
    font-size: 12px;
}

#cuentas {
    font-size: 13px;
    color: grey;
    
   
}

/* CSS básico extraído de terceros   */

#dashbody {

    font-family: Arial;
    background-color: #3498DB;
    padding: 0;


}


#player {
    display: none;
    background-color: #3498DB;
    width: 250px;
    margin: 10px 10px 10px 5px;

}

#botonVerificar {
    width: 250px;
    height: 30px;
    margin: 10px 0 10px 0 ;
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s; 
 
  
}

#botonVerificar:hover{
    background: #2980B9;
}


.button {
    cursor: pointer;
    display: flex;
    width: 250px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    
    padding: 3px 3px 3px 3px;
    color: white;
    background-color: #44a2e2;
    text-decoration: none;
  }


#contenedor-Video{
    
    display: none;
}
