*{
    vertical-align: middle;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;


}



*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}


.contenedor {
margin: 20px auto;
width: 300px;
   /* background-color: blueviolet;*/
    
    
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 10px
}

.app-title {
text-align: center;
color: #777;
    font-size:25px;
    padding:20px;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
margin: 12px 0 12px 0px;
    
}



#caja-mensaje {
     padding: 15px;
    display:flex;
    background-color: beige;
}
#mensaje {
    
    font-family:monospace;
}

#caja-info {
    padding: 15px;
   
    background-color: beige;
}

#contenedor-calculadora{
    /*background-color: blueviolet;*/
    margin-bottom: 10px;
    height: 100%;
    padding: 0;
    width: 100%;
    

}
#contenedor1{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
    /*background-color: khaki;*/
    margin-bottom: 10px;
}

#contenedor2{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
    /*background-color: lawngreen;*/
    margin-bottom: 10px;
}

#vosenvias, #vosrecibis {
    text-align: left;
    font-size: 13px;
    margin-left: 10px;

}



#moneda1-data {
    width: 70%;
    display: flex;
    height: 50px;
}



#monedasymbol1 {
    width: 25%;
    height: 50px;
    background-color: #3498db;
    vertical-align: middle;
    display:inline-flex;
    align-items: center;
    color: white;
    

}


#moneda2-data {
    width: 70%;
    display: flex;
    height: 50px;
}

#monedasymbol2 {
    width: 25%;
    height: 50px;
    background-color:#32b7c5;
    vertical-align: middle;
    display:inline-flex;
    align-items: center;
    color: white;
    

    
}

#cambiar-posicion {
    position: relative;
    padding: 0px 115px;
    
    

}
#icono-change {
    width:50px;
    height: auto;
}
#icono-change:active{
    transform: rotate(90deg);

}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}





/* CSS básico extraído de terceros   */


:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
}

.container {
  background: #191919;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--primary-color);
}
#second {
    background: var(--complimentary-color);
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}