
*{
  margin:0;
  padding : 0;

}

#webContainer {
  background-color: gray;
  position: absolute;
  width: 100%;
  height:100%;

}
#cartContainer{
  width: 20%;
  height: 100%;
  background-color: honeydew;
  position: absolute;
  right: 0;

}

#menuContainer{
  width: 79%;
  height: 100%;
  background-color: lavender;
  position: absolute;
}

#dishesContainer{
  width: 100%;
  background-color: lemonchiffon;
  position: absolute;
  width: 100%;
  height:69%;
  top: 0;
  
}

#footerContainer{
  background-color: khaki;
  position: absolute;
  
  width: 100%;
  height:30%;
  bottom: 0;
  

}


#extrasContainer{

width: 69%;
height: 100%;
background-color:lightseagreen;
position: absolute;

}

#sauces {

  width:25%;
  height: 100%;
  background-color: lavender;
  float: left;

}

#additionals{
  width:25%;
  height: 100%;
  background-color: lavenderblush;
  float: left;
}

#drinks{
  width:25%;
  height: 100%;
  background-color: lightblue;
  float: left;
}

#drinkImage{
  width:25%;
  height: 100%;
  background-color: lightskyblue;
  float: left;
}




#dishPriceContainer{
  width: 30%;
  height: 100%;
  background-color: lightsalmon;
  position: absolute;
  right: 0;


}





#priceOrder{
  width: 100%;
  height: 30%;
  background-color: tan;
}

#buttonAddOrder {
  width: 100%;
  height: 69%;
  background-color: tomato;
}


#leftColumnMenu{
  float: left;
  background-color: lightskyblue;
  left: 0;
  width: 20%;
  height: 100%;
}

#dishesImages{
  float: left;
  background-color: orchid;
  height: 100%;
  width: 59%;
}

#imagesContainer{

  height: 99%;
  width: 99%;
  background-color: yellow;

}

#dish{

  background: wheat url("images/squareplate.jpg") no-repeat center top;
  background-size: 100% 100%;
  width: 99%;
  height: 99%;
  position: relative;

}

#plate1Container{
  width: 50%;
  height: 99%;
  background-color: hsla(310, 89%, 47%, 0.2);
  position: absolute;
  float: left;
}

#plate2Container{
  width: 55%;
  height: 99%;
  background-color: hsla(81, 86%, 44%, 0.3);
  position: absolute;
  right: 0;
}

#chopsticks{
  width: 100%;
  height: 65%;
  background: hsla(259, 98%, 48%, 0.2) url("images/chopstick.png") no-repeat center top;
  background-size: 100% 100%;
  position: absolute;
}

#additionalsContainer{
  width: 100%;
  height: 20%;
  background-color:hsla(0, 14%, 12%, 0.7);
  position: absolute;
  bottom: 0;
}

#sauce1{
  float: left;
  width: 33%;
  height: 100%;
  background-color: springgreen;
}
#sauce2{
  float: left;
  width: 33%;
  height: 100%;
  background-color: thistle;
}
#sauce3{
  float: left;
  width: 33%;
  height: 100%;
  background-color: wheat;
}

#plate1img {
  width: 100%;
  height: 100%;
  background: hsla(345, 98%, 53%, 0.2) url("images/plate1.png") no-repeat center top;
  background-size: 100% 100%;
  position: absolute;
}
#plate2img {
  width: 100%;
  height: 100%;
  background: hsla(71, 100%, 51%, 0.2) url("images/plate2.png") no-repeat center top;
  background-size: 100% 100%;
  position: absolute;
}
#wontonImg{
  width: 60%;
  height: 20%;
  background-color: hsla(300, 100%, 50%, 0.7) ;
  
  position: absolute;
  bottom: 0;
  left: 0;
}
#rightColumnMenu {
  float: left;
  background-color: olivedrab;
  right: 0;
  width: 20%;
  height: 100%;
}

#logo{

  height: 15%;
  width: 100%;
  background-color: palegreen;

}

#formContainer{
  height: 15%;
  width: 100%;
  background-color: palevioletred;

}


#ordersContainer{
  height: 49%;
  width: 100%;
  background-color: plum;
  
}

#totalPriceContainer{
  height: 5%;
  width: 100%;
  background-color: sandybrown;
}

#checkoutButtonContainer{
  height: 15%;
  width: 100%;
  background-color: slateblue;
}
