
*{
  margin:0;
  padding : 0;
  font-family: 'Mukta', sans-serif;
  

}

#webContainer {
  background-color: #d6dee5;
  
  position: absolute;
  width: 100%;
  height:100%;

}
#cartContainer{
  width: 20%;
  height: 100%;
  background-color: #d6dee5;
  position: absolute;
  right: 0;
 text-align: center;
}

#menuContainer{
  width: 79%;
  height: 100%;
  background-color: #d6dee5;
  position: absolute;
  /*border-right: 1px solid rgb(182, 182, 182);*/
}

#dishesContainer{
  width: 100%;
  /*background-color: #d6dee5;*/
  position: absolute;
  width: 100%;
  height:69%;
  top: 0;
  
}

#footerContainer{
  /*background-color: khaki;*/
  position: absolute;
  
  width: 100%;
  height:30%;
  bottom: 0;
  

}


#extrasContainer{

width: 69%;
height: 90%;
/*background-color:lightseagreen;*/
position: absolute;

}

#sauces {
  width:19%;
  height: 90%;
  background-color: white;
  float: left;
  border-radius: 1em;
  margin:0 2px 0 2px;
  padding: 10px 8px 5px 10px;
  
  font-weight: 400;
  font-size: small;

}

#additionals{
  width:19%;
  height: 90%;
  background-color: white;
  float: left;
  border-radius: 1em;
  margin:0 2px 0 2px;
  padding: 10px 8px 5px 10px;
  font-weight: 400;
  font-size: small;
  
}

#drinks{
  width:19%;
  height: 90%;
  background-color: white;
  float: left;
  border-radius: 1em;
  margin:0 2px 0 2px;
  padding: 10px 8px 5px 10px;
  
  font-weight: 400;
  font-size: small;
}

#drinkImage{
  width:19%;
  height: 90%;
  background-color: white;
  float: left;
  border-radius: 1em;
  margin:0 2px 0 2px;
  padding: 10px 2px 0 10px;
  font-weight: 600;
}

#select-choice1{
  width: 90%;
  
}


#dishPriceContainer{
  width: 30%;
  height: 100%;
  /*background-color: lightsalmon;*/
  position: absolute;
  right: 0;


}





#priceOrder{
  width: 90%;
  height: 30%;
  background-color: white;
  border: 1px solid rgb(182, 182, 182); 
}

#subtotalDesc{
  width: 50%;
  height: 100%;
  float: left;
  font-weight: 600;
  font-size: 0.7em;
  text-align: center;
  padding-top: 10px;
  /*background-color: blanchedalmond;*/
}
#singlePrice{
  width: 90%;
  height: 80%;
  float: right;
  padding-top: 9px;
  /*background-color: salmon;*/
  
}

#singlePriceCont{
  width: 50%;
  height: 100%;
  float: right;
  /*background-color: chartreuse;*/
}

#buttonSingleOrder{
  padding: 10px 17px 0 0;
}
#buttonAddSingleOrder {
  width: 100%;
  height: 50px;
  font-weight: bold;
  color: white;
  background-color: #ff7978;
  border:1px solid#f66969 ;
  cursor: pointer;

}
#buttonAddSingleOrder:hover{
  background-color: #f66969;
}
#buttonAddSingleOrder:active{
  background-color: #f66969;
}







#buttonAddTotalOrder {
  width: 100%;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: #ff7978;
  border:1px solid#f66969 ;
  cursor: pointer;

}
#buttonAddTotalOrder:hover{
  background-color: #f66969;
}
#buttonAddTotalOrder:active{
  background-color: #f66969;
}





#leftColumnMenu{
  float: left;
  /*background-color: #c4d4e1;*/
  left: 0;
  width: 20%;
  height: 100%;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
}


.scrollCont{
  height: 70%;
  overflow: auto;
  text-align: center;
  margin: 40% 0 40% 0 ;
  
}
.scrollCont::-webkit-scrollbar {
  display: none;
}


#dishesImages{
  float: left;
  background-color: #d6dee5;
  height: 100%;
  width: 59%;
}

#imagesContainer{

  height: 99%;
  width: 99%;
  /*background-color: #c4d4e1;*/

}

#dish{

  /*background: wheat url("images/squareplate.png") no-repeat center top;*/
  background-image: url("images/squareplate.png") ;
  background-size: 100% 100%;
  width: 99%;
  height: 99%;
  position: relative;

}

#plate1Container{
  width: 50%;
  height: 99%;
  /*background-color: hsla(310, 89%, 47%, 0.2);*/
  position: absolute;
  float: left;
}

#plate2Container{
  width: 55%;
  height: 99%;
  /*background-color: hsla(81, 86%, 44%, 0.3);*/
  position: absolute;
  right: 0;
}

#chopsticks{
  width: 100%;
  height: 65%;
  
  background-size: 100% 100%;
  position: absolute;
}

#additionalsContainer{
  width: 100%;
  height: 20%;
  /*background-color:hsla(0, 14%, 12%, 0.7);*/
  position: absolute;
  bottom: 0;
}

.sauceClass{
  float: left;
  width: 33%;
  height: 100%;
  background-color: chocolate;
}

.sauceImage{
  width: 100%;
  height: 100%;
}

#sauce1{
  float: left;
  width: 33%;
  height: 100%;
  /*background-color: springgreen;*/
}
#sauce2{
  float: left;
  width: 33%;
  height: 100%;
  /*background-color: thistle;*/
}
#sauce3{
  float: left;
  width: 33%;
  height: 100%;
  /*background-color: wheat;*/
}

#plate1img , .plate1img {
  width: 100%;
  height: 100%;
  
  background-size: 100% 100%;
  position: absolute;
}



#plate2img , .plate2img{
  width: 100%;
  height: 100%;
  
  background-size: 100% 100%;
  position: absolute;
}
#wontonImg{
  width: 60%;
  height: 20%;
 /* background-color: hsla(300, 100%, 50%, 0.7) ;*/
  
  position: absolute;
  bottom: 0;
  left: 0;
}
.wontonImage{
  width: 100%;
  height: 100%;
}

.chopstickImage{
  width: 100%;
  height: 100%;
}

#rightColumnMenu {
  float: left;
  /*background-color: #c4d4e1;*/
  right: 0;
  width: 20%;
  height: 100%;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
}

#logo{

  height: 15%;
  width: 90%;
  /*background-color: palegreen;*/

}

#formContainer{
  height: auto;
  width: 90%;
  text-align: left;
  /*background-color: palevioletred;*/

}


#ordersContainer{
  overflow-y: auto;
  overflow-x: hidden;

  height: 40%;
  width: 90%;
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  
  
}


#totalPriceContainer{
  height: 4%;
  width: 90%;
  background-color: white;
  border: 1px solid  rgb(182, 182, 182); 
  padding-bottom: 8px;
  margin: 5px 0 5px 0;
}

#checkoutButtonContainer{
  height: 10%;
  width: 90%;
  /*background-color: slateblue;*/
}

.contNamePlate {
  background-color: #4c60e0;
  padding: 10px;
  margin:0.2em 0.5em 0.2em 0.5em;
  cursor: pointer;
  
  border-radius: 0.8em;
  color: white;
  
}
.contDescriptionPlate{
  
  padding: 3px 10px 5px 5px;
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
}
.drinkImage {
  height: 100%;
  width: 100%;
  
}

.orderCss{
  margin: 4px 8px 4px 4px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(221, 221, 221) ;
  width: 93%;
  height: auto;
  overflow: hidden;
}

.removeBtn{
 
  border: 1px solid#f66969;
  background: #f66969 url() no-repeat 0 -4px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  padding: 0 3px 0 3px;
  float: right;
  margin: 5px;
}

#totalDesc{
  width: 50%;
  /*background-color: skyblue;*/
  float: left;
  height: 99%;
  
}
#totalPrice{
  width: 50%;
  /*background-color: tan;*/
  float: right;
  height: 99%;
}




select{
  
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
 }




input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
 }
 input[type='checkbox']:checked {
  position: absolute;
 }




input[type='checkbox'] + label {
border: 1px solid rgb(221, 221, 221);
padding: 2px 1px 0 5px;
margin: 5px 0 0 0;
width: 90%;
display: block;
text-align: left;
color: rgb(66, 66, 66);
cursor: pointer;
position: relative;
font-weight: 600;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}

input[type='checkbox'] + label::after{
width: 10px;
height: 10px;
content: '';
border: 2px solid #D1D7DC;
background-color: #fff;
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;

right: 5px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
     
}

input[type='checkbox']:checked + label {
  color: white;
  background-color: #4c60e0;
  transition: all 300ms ease-in;
 }

input[type='checkbox']:checked + label::after {
  border: 3px solid white;
  background-color: #4c60e0;
 }
